/* Common Region */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --drbx-black: #010001;
    --drbx-white: #ffffff;
    --drbx-bkgr-and-square6: #b5d0e6;
    --drbx-accent: #0160ff;
    --drbx-square1: #a3d39a;
    --drbx-square2-alternativeFont: #60092b; 
    --drbx-square3: #0192ce;
    --drbx-square4: #fe1c1d;
    --drbx-big-square: #f5f4f4;
    --drbx-square5: #d4011f; 
    --drbx-square7: #0d2580;
    --drbx-square8: #fed831;
}

/* /Common Region */

/* Utilities Region */

.d-flex {
    display: flex;
}

.list-unstyled {
    list-style: none;
}
  
.list-inline {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.img-fluid {
    max-width: 70%;
}

/* /Utilities Region */


/* Debug Region */


/*

.debug .card {
    height: 100%;
    background-color: lightblue;
}

.debug header {
    background-color: lightskyblue;
    height: 60px;
}

.debug main {
    height: 1200px;
    background-color: aquamarine;
}

.debug .main_container {
    height: 500px;
    width: 100%;
    background-color: darkgray;
}

.debug footer {
    height: 400px;
    background-color: black;
}
*/
/* /Debug Region */

/* Header Region */

header {
    width: 1770px;
}

#site_header .h_container {
    padding: 1rem 1rem;
    box-shadow: O O 5px black;
  }

.h_container .jumbotron {
    width: 80%;
    max-width: 1170px;
    margin: auto;
  }

.left_menu, .right_menu {
    width: 50%;
  }
  

.right_menu {
    justify-content: end;
  }

a{
    padding: 0 1rem;
    color: var(--drbx-black);
    text-decoration: none;
}

.logo {
    text-align: center;
}


.btn_blue a{
    background-color: var(--drbx-accent);
    color: white;
    padding: 0.5rem;
    text-align: center;
    display: inline-block;
}

.right_menu .btn_blue a{
    margin-top: -0.47rem;
}


/* /Header Region */

/* Jumbotron Region */

.jumbotron{
  background-color: var(--drbx-bkgr-and-square6);  
  height: 700px;
}

.jumbotron h1 {
  font-size: 3.5rem;
  color: var(--ds-white);
}

.main_container .dflex {
    max-width: 1170px;
    margin: auto;
    padding: 0 -3rem;
}

#site_main .jumbotron .btn-jumbo {
    display: inline-block;
}

h1 {
    align-items: center;
    font-size: 4.5rem;
    font-weight: 800;
    padding: 1rem 20rem;

}

p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

[class^="col-"] {
    padding-top: 3rem;
}

.col-4 {
    width: calc(100%/12*4);
    padding-right: 1.5rem;
}
.col-8 {
    width: calc(100%/12*8);
    padding-right: 1.5rem;
}



/* Spacing Region */

.pt-4 {
    padding-top: 2rem;
}

.pb-6 {
    padding-bottom: 3rem;
}



.pl-16 {
    padding-left: 8rem;
}

.pr-8 {
    padding-right: 8rem;
}

footer {
    background-color: var(--drbx-black);
}